# Requirements for app-api service
# This file contains all Python dependencies for the app-api service

fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
pydantic[email]
passlib[bcrypt]
pydantic-settings
alembic
PyJWT
bcrypt==4.0.1
passlib[bcrypt]==1.7.4
fastapi-mail
firebase-admin
python-multipart
redis
rq
PyPDF2
python-dotenv
PyMuPDF

# NEW - Add these

python-docx                      # DOCX extraction
pytesseract                      # OCR for images
Pillow                           # Image handling
google-generativeai              # Google AI embeddings
pgvector




# LangChain and AI dependencies
langchain==0.1.20
langchain-core==0.1.52
langchain-google-genai==1.0.3
google-generativeai==0.5.4



cloudinary
tiktoken
requests

PyMuPDF